table {
    font-family: Consolas;
    font-size: 12px;
	font-style: normal;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	word-wrap: break-word;
}

th, td {
    border: 1px solid #f2f2f2;
    padding: 11px;
    text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}

pre{
    font-size: 10px !important;
    background-color: transparent !important;
    border: transparent !important;
    width: 100%;
    text-align: left;
}

.loader {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form-group {
    display:inline-block;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

.label-default{
    width: 11rem;
    text-align: center;
}