<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Navimee</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>
    <div class="container">
        <div sec:authorize="isAnonymous()">
            <h3 class="text-center bg-primary">Not authorized !</h3>
        </div>
        <div sec:authorize="isAuthenticated()">
            <h3 class="text-center bg-primary">Navimee...</h3>
        </div>
    </div>
</body>
</html>