<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Navimee</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>
    <div class="container">
        <div sec:authorize="isAnonymous()">
            <h3 class="text-center bg-primary">Not authorized !</h3>
        </div>
        <div sec:authorize="isAuthenticated()">
            <h3 class="text-center bg-primary">Navimee...</h3>
            <div class="input-group" style="margin-bottom: 5px; font-family: Consolas;">
                 <span class="input-group-btn">
                    <button type="button" class="btn btn-default" onclick="start()">   Start   </button>
                  </span>
                <input type="text" class="form-control" placeholder="Start date... example -> 1970-12-24"/>
            </div>
            <div>
                <table style="width:100%" id="logs"></table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/ajax.js"/>
</body>
</html>